Repository Lakhonin/Store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

backend:
  stage: module-pipelines
  trigger:
    include:
    - local: backend/backend.yml
    strategy: depend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - local: frontend/frontend.yml
    strategy: depend

Frontend
  backend/backend.yml
  backend/cmd/api/app/app_test.go
  backend/cmd/api/dependencies/store.go
  frontend/default.conf
  frontend/dockerfile
  frontend/frontend.yml
Due: backend, frontend

Frontend
  backend/backend.yml
  frontend/frontend.yml
Due: backend, frontend

Frontend
  backend/backend.yml
Due: backend

added test
  .gitlab-ci.yml
  backend/backend.yml
  frontend/frontend.yml
Due: backend, frontend

added multi project ci
  .gitlab-ci.yml
  backend/backend.yml
  backend/cmd/api/app/app_test.go
  backend/cmd/api/dependencies/store.go
  frontend/dockerfile
  frontend/frontend.yml
Due: backend, frontend

fix parent pipeline
  .gitlab-ci.yml
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  backend: any of: backend/*
  frontend: any of: frontend/*
